<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <th>{{estudiante.id}}</th>
      <td>{{estudiante.codigo}}</td>
      <td>{{estudiante.nombre}}</td>
      <td>
        
        <button class="btn btn-success" (click)="ver(estudiante)">
          Ver
        </button>
      </td>
    </tr>
  </tbody>
</table>
